.cover__subtitle {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    position: relative;
    max-width: 360px;
    width: 100%;
    font-size: 18px;
}